---
import PageLayout from '@layouts/PageLayout.astro'
import TopLayout from '@layouts/TopLayout.astro'
import BottomLayout from '@layouts/BottomLayout.astro'
import { MY_STORY } from '@consts'
import TechStack from '@components/TechStack.astro'
import Work from '@components/Work.astro'
---

<PageLayout title={MY_STORY.TITLE} description={MY_STORY.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {MY_STORY.TITLE}
    </div>
  </TopLayout>

  <BottomLayout>
    <div class="animate bg-white dark:bg-black !bg-opacity-90">
      <section>
        <article class="pb-0">
          <p class="italic-bold">
            I am a full-stack developer, laravel artisan, neovim user, dev tools
            / packages enthusiast, open source contributor and all around nice
            guy.
          </p>

          <TechStack />

          <h4>During my career</h4>
          <p>
            Professionally I work mainly in web SAAS agile development using
            Laravel and Vue.js in a fast, demanding and changing environment
            where speed, planning and iterating are key factors.
          </p>

          <Work />

          <h4>What I like to code on my own</h4>
          <p>
            I like building cool dev tools, packages and ideas I also like
            contributing and discovering open source tools and projects.
          </p>
        </article>
      </section>

      <!-- Arc -->
      <section>
        <article>
          <h4>The arc</h4>
          <h5>- ∞</h5>
          <p>
            I used to hate computers, I didn't even own a proper one. I always
            was a console type of guy.
          </p>

          <h5>2017</h5>
          <p>
            I've done great in my studies until I made it to university studying
            a mix of science and technology. <b>I felt lost.</b>
          </p>

          <h5>2020</h5>
          <p>I dropout of university to search my true passion.</p>

          <h5>2021</h5>
          <p>
            my passion turned out to be <b>coding.</b> I went for an associate degree
            in web and mobile development where we studied different technologies
            and principles.
          </p>

          <h5>2023</h5>
          <p>
            I fell in love with <b>laravel</b> and building,
            <b>the sky is the limit.</b> I landed my first internship during a beachless
            summer and I got hired after that summer, as a full-time full-stack developer.
          </p>

          <h5>2025</h5>
          <p>Looking for new opportunities and to build my first SAAS</p>

          <p class="italic-bold">
            and that's the arc, from no world to hello world to let's build the
            world...
          </p>
        </article>
      </section>
    </div>
  </BottomLayout>
</PageLayout>
<style>
  h5 {
    font-weight: bold;
  }
  .italic-bold {
    font-weight: bold;
    font-style: italic;
  }
</style>
