---
import PageLayout from '@layouts/PageLayout.astro'
import TopLayout from '@layouts/TopLayout.astro'
import BottomLayout from '@layouts/BottomLayout.astro'
import { WORK } from '@consts'
import TechStack from '@components/TechStack.astro'
import Work from '@components/Work.astro'
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {WORK.TITLE}
    </div>
  </TopLayout>

  <BottomLayout>
    <div class="animate bg-white dark:bg-black !bg-opacity-90">
      <section>
        <article class="pb-0">
          <p class="italic-bold">
            I am a full-stack developer, laravel artisan, neovim user, dev tools
            / packages enthusiast, open source contributor and all around nice
            guy.
          </p>

          <TechStack />

          <h4>During my career</h4>
          <p>
            Professionally I work mainly in web SAAS agile development using
            Laravel and Vue.js in a fast, demanding and changing environment
            where speed, planning and iterating are key factors.
          </p>

          <Work />

          <h4>What I like to code on my own</h4>
          <p>
            I like building cool dev tools, packages and ideas I also like
            contributing and discovering open source tools and projects.
          </p>
        </article>
      </section>
    </div>
  </BottomLayout>
</PageLayout>
<style>
  h5 {
    font-weight: bold;
  }
  .italic-bold {
    font-weight: bold;
    font-style: italic;
  }
</style>
